<section class="following">
  <h3>Following</h3>
  <ul>
    <% @following_users.each do |user| %>
      <li>
        <p><%= user.full_name %></p>
        <%= image_tag user.image_url %>
        <%= follow_link(user) %>
      </li>
    <% end %>
  </ul>
</section>
