header.hero {
    background-color: white;
    color: $color-base;

    padding: 50px 0 130px 0;

    h1, h2 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    h1 {
        font-size: 8em;
    }
}

section.quote {
    margin-top: 100px;
    padding: 30px;

    img {
        display: inline-block;
        width: 100px;
        float: left;
    }

    blockquote {
        float: left;
        padding: 0 20px;
        margin: 0;
        width: 800px;
        p {
            margin-top: 0;
        }
    }

    attribute {
        padding-left: 10px;
        border-left: 1px solid $color-text;
    }
}
