section.user {
  a {
    text-decoration: none;
  }

  .profile-and-type {
    @include clearfix;

    img {
      float: left;
      width: 25%;
    }
    
    .type-of-ranter {
      float: left;
      height: 300px;
      width: 75%;
      line-height: 300px;
      font-size: 72px;
      text-align: center;
    }
  }

}