<div class="alert">
  <p>
    <strong>
      This form could not be saved
    </strong>
  </p>


  <ul>
    <% form.object.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
</div>
