<header class="hero">
  <h1>Rantly</h1>
  <h2>Let it all out</h2>
</header>

<section class="quote">
  <blockquote>
    <p>Rantly has allowed a certain freedom I never thought possible. Now I can rant to the internet at large, without having to worry about my thoughts. I just type it out, hit click, and feel the surge of relief. Thanks Rantly, you've truly made my most inane rants heard. I remember a time when I wasn't able to truly express myself. It's really frustrating when you want to be heard and no one...</p>
    <attribute>Jeff Taggart, avid Ranter</attribute>
  </blockquote>
</section>
