<h3> <%= @rant.title %> </h3>

<section class="rant">
  <div class="text">
    <%= image_tag "profile.jpg" %>

    <h2>
      by <%= link_to @rant.author.full_name, @rant.author %>
    </h2>

    <%= simple_format @rant.body %> 
  </div>
</section>
