<section class="search">
  <h3>Search</h3>

  <%= form_tag "", :url => search_path, :method => :get do %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search" %>
  <% end %>

  <ul>
    <%= render @search.results %>
  </ul>
</section>
