<section class="other-rants">
  <h3>Latest Rants</h3>

  <ul>
    <%= render @latest_rants %>
  </ul>
</section>

<% if @mentions.any? %>
  <section class="mentioned">
    <h3>Mentioned</h3>

    <ul>
      <%= render @mentions %>
    </ul>
  </section>
<% end %>

<section class="my-rants">
  <h3>My Rants</h3>
  <ul>
    <% @my_rants.each do |rant| %>
      <%= render "rants/my_rant", :rant => rant %>
    <% end %>
  </ul>
</section>

