.admin-spacer {
  flex: 1;
}

h2 {
  text-align: center;
}

section.rants {
  .actions {
    display: flex;
    flex-direction: row;
    height: 100px;
  }

  .rant-type-filter {
    flex: 1;

    a {
      @extend .button;
      width: 50%;
      box-sizing: border-box;
      float: left;
      border-radius: 0;

      &.selected {
        background-color: lighten($color-green, 20%);
      }
    }
  }

  .date-filter {
    flex: 3;

    form {
      @include clearfix;
    }

    p {
      display: block;
      float: left;
    }

    input[type=text] {
      width: 90px;
      padding: 10px;
      display: block;
      float: left;
      margin-left: 50px;
      margin-right: 50px;
    }

    input[type=submit] {
      float: right;
    }
  }
}