//= require normalize-rails
//= require_self

@import "colors";
@import "util";
@import "nav";

@import "pages/homepage.scss";
@import "pages/registration.scss";

body {
    background-color: lighten($color-base, 20%);
    color: $color-text;
}

section {
    width: 960px;
    margin: 0 auto;
}


.notice {
    box-sizing: border-box;
    padding: 20px;
    background-color: $color-accent;
    color: white;
    width: 100%;
    text-align: center;
}