//= require normalize-rails
//= require_self
@import "colors";
@import "util";
@import "nav";
@import "signed_in";
@import "pages/homepage";
@import "pages/registration";
@import "pages/login";

html, body {
  height: 100%;
}

body {
  background-color: lighten($color-base, 20%);
  color: $color-text;
}

.all-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 10;
  display: flex;
  flex-direction: row;
}

.notice {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  color: white;
  width: 100%;
  text-align: center;
}

.notice {
  @extend .notice;
  background-color: $color-accent;
}

.alert {
  @extend .notice;
  background-color: $color-error;
}

ul {
  list-style-type: none;
  padding: 0;
}