aside {
  flex: 1;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  .profile-picture {
    flex: 4;

    img {
      width: 150px;
      height: 150px;
      margin: auto;
    }
  }

  .name {
    margin: 10px;

    a {
      font-size: 22px;
      text-decoration: none;
      color: $color-text;
    }
  }

  form {
    flex: 8;
    width: 100%;

    border-top: 1px solid $color-text;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    label {
      flex: 1;
    }

    input[type=text] {
      flex: 1;
    }

    textarea {
      flex: 8;
      height: 100%;
    }

    input[type=submit] {
      flex: 1;
      @extend .button;
      margin-top: 10px;
    }
  }
}

.main-content {
  flex: 4;
  background-color: white;
}
