<h3>Rants per Day</h3>
<canvas class="chart" data-chart="<%= @rants_per_day_data %>" width="600" height="400"></canvas>

<h3>Signups per Day</h3>
<canvas class="chart" data-chart="<%= @signups_per_day_data %>" width="600" height="400"></canvas>

<h3>Logins per Hour (UTC)</h3>
<canvas class="chart" data-chart="<%= @logins_per_hour_data %>" width="600" height="400"></canvas>
