<% content_for(:content) do %>
    <div class="content">
        <aside>
            hello
        </aside>

        <div class="main-content">
            <%= yield %>
        </div>
    </div>
<% end %>

<%= render template: "layouts/application" %>